.footer {
    width: 100%;
    min-height: 10lvh;
    background-color: #5a6b7d;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    padding-top: 1lvh;

    &>.container {
        height: 100%;

        a {
            text-decoration: underline;
            color: white;
        }

        &>.name {
            width: 100%;
            height: 30%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: bold;
        }

        &>.list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0 0 1lvh 0;
            }

        }

        &.logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5lvh;

            .sponsor-label {
                margin-bottom: 0;
            }

            .logo-and-contact {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.5lvh;
            }

            .logo-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.8;
                }

                .pge-logo {
                    max-height: 80px;
                    max-width: 200px;
                    height: auto;
                    width: auto;
                    object-fit: contain;
                }
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                font-size: 0.9em;
                gap: 0.2lvh;

                div {
                    margin: 0;
                    line-height: 1.4;

                    a {
                        text-decoration: underline;
                        color: white;
                        transition: opacity 0.3s ease;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}