// body.dark .header {
//     background-color: #242526 !important;

//     nav a{
//         color: white;
//     }
// }

.header {
    height: 7lvh;
    width: 100%;

    // background-color: rgb(255, 255, 255);
    background-color: var(--background-color2);

    display: grid;
    grid-template-columns: min-content 1fr min-content;

    .name {
        margin-left: 1lvh;
        height: 100%;
        width: 40lvh;

        .siteName {
            font-size: 2.5lvh;
            font-weight: bold;
            width: 100%;
        }

        .school {
            font-size: 1lvh;
        }
    }

    nav {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 5lvh;
        display: flex;
        flex-direction: row;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 10lvh;
            height: 100%;

            text-decoration: none;

            // color: black;
            color: var(--primart-text);

            transition: .5s;
        }

        .active-link, a:hover {
            // background-color: red;
            color: var(--primart-text-inv);
            background-color: var(--button);
        }
    }

    .toggle {
        height: 100%;
        width: 10lvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}