:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(46, 38, 38, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

body {
  --background-color: #d4d4d4;
  --background-color2: #c4c4c4;

  --background-color-inv: #2C2C2C;
  --background-color2-inv: #1d1d1d;

  --primart-text: #1c1c1c;
  --primart-text-inv: #E4E4E4;
  --accent-1: #235658;
  --accent-2: #3d000b;
  --button: #472f65;

  --marker-text: #1c1c1c;
  --marker-background: #9bcaa0;
}

body.dark {
  --background-color: #2C2C2C;
  --background-color2: #1d1d1d;

  --background-color-inv: #d4d4d4;
  --background-color2-inv: #c4c4c4;

  --primart-text: #E4E4E4;
  --primart-text-inv: #1c1c1c;
  --accent-1: #A8DADC;
  --accent-2: #FFC1CC;
  --button: #B39CD0;


  --marker-text: #1c1c1c;
  --marker-background: #346339;
}

body {
  background-color: var(--background-color);
  color: var(--primart-text);
}